.table-container {
  margin: 2rem;
  width: 92% !important;
  border: 1px solid;
}
table thead th {
  background-color: #3b5d50;
  color: #fff !important;
}

table tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}

table tbody tr:nth-of-type(even) {
  background-color: #fff;
}
.delete-btn {
  color: wheat;
  background: firebrick;
}
.product-image {
  width: 100px;
  height: 100px;
}
.app-bar-tab{
  background-color: #fff !important;
  display: flex !important;
  align-items: center;
  color: #000 !important;
}
.textfield-box{
  display: flex;
  margin: 2rem;
}
.typography-text-admin{
  width: 10rem;
  text-align: left;
}
.button-box{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

